
/* SETTINGS */
#boutique{
	display: none; /* Start invisible until the plugin is loaded */
	margin: 0 auto;
}


/* Headers of all frames */
#boutique h6{
	margin: 0;
	line-height: 130%;
	font-family: sans-serif;
	font-weight: normal;
	color: #222;
}

/* Description text of all frames */
/* Note that this is the complete text layer, including the header inside */
#boutique span{
	font-family: Verdana, sans-serif;
	line-height: 120%;
	color: #444;
	background: #eee3db;
	margin: 0;
	padding: 10px 15px 14px;
}

/* The most frontal item */
#boutique .front img{
	/*margin: 6px; *//* Determines the gap between image and frame border */
}
#boutique .front h6{
	font-size: 28px; /* Front frame header */
}
#boutique .front span{
	font-size: 11px; /* Front frame description text */
}

/* The further back items */
#boutique .behind img{ /* Determines the gap between image and frame border */
	margin: 3px;
}
#boutique .behind h6{ /* Behind frame headers */
	font-size: 18px;
}
#boutique .behind span{ /* Behind frame description text */
	font-size: 9px;
}

/* The furthest back items */
#boutique img{ /* Determines the gap between image and frame border */
	margin: 1px;
	cursor: pointer;
	position:relative;
}
#boutique li:hover{
	opacity: 1!important;
}
#boutique li:hover:after{
	content:"";
	position:absolute;
	opacity: 1!important;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)
}
#boutique .back h6{ /* Back frames header */
	font-size: 13px;
}
#boutique .back span{ /* Back frame description text */
	font-size: 9px;
}

/* That's it for the settings */

.boutique{ margin:0; padding:0; position:relative; z-index:1 }
.boutique li{ margin:0; padding:0; list-style:none; position:absolute; z-index:1; display:none; border-width:0 }
.boutique img{ border:0; vertical-align:bottom }
.boutique span{ display:block; position:absolute; left:0; right:0; bottom:0; text-align:left; cursor:default; margin:0 }
.boutique h6{ cursor:default }
.boutique a, .boutique a:hover{ cursor:default; text-decoration:none; outline:none }
.boutique img, .boutique li, .boutique a{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.boutique.rtl h6, .boutique.rtl span{ text-align:right }