.debug-wrap{
    border: 1px dotted #0091ca;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    background: rgba(141, 146, 202, 0.24);
}
.debug-wrap h2{font-size: 25px;}
.debug-wrap li {
    list-style: none;
    margin-bottom: 2px;
}
.debug-wrap li span{
    display: inline-block;

    background: white;
    border: 1px dotted;
    padding: 2px 10px;
}
.debug-closed-button, .debug-open-button{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    padding: 2px 4px;
    background: #6463D3;
    border: none;
    color: white;
}
.debug-open-button{
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
    left: auto;
    top: auto;
}