@charset "UTF-8";
html {
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif !important;
    font-weight: normal;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    -webkit-font-smoothing: antialised;
    overflow-x: hidden;
}

.block-description p::-webkit-scrollbar {
    width: 1px;
}

.block-description p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px transparent;
}

.block-description p::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    outline: 1px solid #7b7b7b;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: red;
}

body input:required:valid,
body textarea:required:valid {
    color: green;
}

.block-header-center {
    position: absolute;
    bottom: 40%;
    margin: 0 auto;
    width: 100%;
}

header.mainhead {
    background-image: url("../img/slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 780px;
}

header {
    position: relative;
    overflow: hidden;
    padding-bottom: 130px;
}

header .social-wrapper {
    z-index: 1;
    position: relative;
    float: right;
    margin-top: 20px;
}

header .social-wrapper a.vk {
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 20px;
}

header .social-wrapper a.vk:hover {
    background-image: url("../img/vk.png");
    background-position: 0 -21px;
}

header .social-wrapper a.facebook {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 15px;
    width: 16px;
    height: 30px;
    vertical-align: middle;
}

header .social-wrapper a.facebook:hover {
    background-image: url("../img/facebook.png");
    background-position: 0 -32px;
}

header .social-wrapper a.instagram {
    background-image: url("../img/inst.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

header .social-wrapper a.instagram:hover {
    background-image: url("../img/inst.png");
    background-position: 0 -32px;
}

header .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 262px;
    background-size: contain;
    background-position: center;
    margin: 175px auto 70px;
    height: 262px;
    display: block;
    z-index: 10;
    position: relative;
}

header .descriptio-top {
    text-align: center;
    z-index: 10;
    position: relative;
    margin-bottom: 50px;
}

header .descriptio-top p {
    color: #2d2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
}

header a.button-top {
    z-index: 10;
    position: relative;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 52px;
    width: 267px;
    height: 53px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

header a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

#owl-demo {
    position: absolute;
    z-index: 1;
}

#owl-demo .item img {
    display: block;
    width: 100%;
}

section.navigationmain {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFF !important;
    padding: 14px 0 !important;
}

section.navigation {
    z-index: 12;
    width: 100%;
    background-color: #FFF;
    padding: 20px 0;
}

section.navigation .logos {
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 58px;
}

section.navigation ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 0;
}

section.navigation ul li {
    display: inline;
    margin: 0 10px;
}

section.navigation ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #7b7b7b;
}

section.navigation ul li a:hover {
    color: #f32165;
}

section.navigation .phone {
    color: #618ff6;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 300;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

section.block2 {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    padding: 50px 0 70px;
    background-position: bottom;
    background-size: cover;
    width: 100%;
}

section.block2 h1 {
    color: #2f2483;
    font-size: 3.125em;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-bottom: 45px;
}

section.block2 .in-wrp-na {
    width: 50%;
    position: relative;
    display: inline-block;
    height: 236px;
    margin-right: -3px;
    margin-bottom: -6px;
    overflow: hidden;
    cursor: pointer;
    background-color: #d7d7d7;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
}

section.block2 .in-wrp-na .wrp-na {
    background-image: url("../img/Layer-6.jpg");
    background-repeat: no-repeat;
    background-size: 626px;
    background-position: -7px -25px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

section.block2 .in-wrp-na .wrp-na p.title {
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin: 110px auto 0;
    max-height: 85px;
    min-height: 85px;
    position: relative;
    z-index: 1;
}

section.block2 .in-wrp-na .wrp-na p.descr {
    font-weight: 400;
    line-height: 10px;
    color: #d0d5df;
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 1;
}

section.block2 .in-wrp-na .wrp-na-8 {
    background-image: url("../img/Layer-13.jpg");
    background-position: -8px -44px;
    z-index: 1;
}

section.block2 .in-wrp-na .wrp-na-7 {
    background-image: url("../img/Layer-12.jpg");
    background-position: -7px -44px;
    z-index: 1;
}

section.block2 .in-wrp-na .wrp-na-6 {
    background-image: url("../img/Layer-11.jpg");
    background-position: -7px -81px;
}

section.block2 .in-wrp-na .wrp-na-5 {
    background-image: url("../img/Layer-10.jpg");
    background-position: -7px -44px;
}

section.block2 .in-wrp-na .wrp-na-4 {
    background-image: url("../img/Layer-9.jpg");
    background-position: -7px -65px;
}

section.block2 .in-wrp-na .wrp-na-3 {
    background-image: url("../img/Layer-12.jpg");
    background-position: -7px -40px;
    background-repeat: no-repeat;
}

section.block2 .in-wrp-na .wrp-na-d-on-1 {
    background: url("../img/hover-bg.png") #df2160;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -50px;
    overflow: hidden;
    opacity: 0.85;
}

section.block2 .in-wrp-na .wrp-na-d-on-1 p.title {
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin: 70px auto 0;
    max-height: 85px;
    min-height: 85px;
}

.wrp-na-d-7,
.wrp-na-d-8,
.wrp-na-d-6,
.wrp-na-d-5,
.wrp-na-d-4,
.wrp-na-d-3,
.wrp-na-d-2,
.wrp-na-d-1 {
    background-color: #FFF;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
    padding: 11px 10px 15px 20px;
    display: none;
    position: absolute;
}

.wrp-na-d-7 p,
.wrp-na-d-8 p,
.wrp-na-d-6 p,
.wrp-na-d-5 p,
.wrp-na-d-4 p,
.wrp-na-d-3 p,
.wrp-na-d-2 p,
.wrp-na-d-1 p {
    color: #2d2c2c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 545px;
    overflow-y: scroll;
    max-height: 98px;
    min-height: 98px;
    padding-right: 25px;
}

.wrp-na-d-7 p span,
.wrp-na-d-8 p span,
.wrp-na-d-6 p span,
.wrp-na-d-5 p span,
.wrp-na-d-4 p span,
.wrp-na-d-3 p span,
.wrp-na-d-2 p span,
.wrp-na-d-1 p span {
    color: #618ff6;
    font-size: 25px;
    font-weight: 300;
}

.wrp-na-d-7 p.price,
.wrp-na-d-8 p.price,
.wrp-na-d-6 p.price,
.wrp-na-d-5 p.price,
.wrp-na-d-4 p.price,
.wrp-na-d-3 p.price,
.wrp-na-d-2 p.price,
.wrp-na-d-1 p.price {
    display: inline-block;
    vertical-align: middle;
    margin-top: 45px;
    min-height: 27px;
    width: 50%;
    max-height: 27px;
    white-space: nowrap;
    overflow: hidden;
}

.wrp-na-d-7 a.button-top,
.wrp-na-d-8 a.button-top,
.wrp-na-d-6 a.button-top,
.wrp-na-d-5 a.button-top,
.wrp-na-d-4 a.button-top,
.wrp-na-d-3 a.button-top,
.wrp-na-d-2 a.button-top,
.wrp-na-d-1 a.button-top {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 46px;
    width: 40%;
    height: 48px;
    text-align: center;
    margin: 25px 10px 10px 0;
    float: right;
}

.wrp-na-d-7 a.button-top:hover,
.wrp-na-d-8 a.button-top:hover,
.wrp-na-d-6 a.button-top:hover,
.wrp-na-d-5 a.button-top:hover,
.wrp-na-d-4 a.button-top:hover,
.wrp-na-d-3 a.button-top:hover,
.wrp-na-d-2 a.button-top:hover,
.wrp-na-d-1 a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

.in-wrp-na-hover {
    display: block;
    background-color: #d7d7d7;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%);
}

section.news {
    padding: 40px 0 23px;
    background-color: #FFF;
}

section.news h1 {
    text-align: center;
    color: #2f2483;
    font-size: 3.125em;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 50px;
}

section.news .owl-buttons {
    float: right;
}

section.news .owl-prev {
    float: none;
}

section.news .owl-next {
    float: right;
}

section.news a.next, section.news .owl-prev, section.news .owl-next {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 32px;
    color: #7b7b7b !important;
    margin-left: 20px !important;
    margin-top: 1px !important;
    background: none !important;
    opacity: 1 !important;
}

section.news a.next:hover, section.news .owl-prev:hover, section.news .owl-next:hover {
    color: #f32165 !important;
}

section.news span.date {
    width: 66px;
    height: 66px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    padding-top: 12px;
    font-size: 25px;
    text-align: center;
}

section.news span.date span {
    font-size: 14px;
}

section.news .n-bl1 {
    background-image: url("../img/news1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section.news .n-bl1:after {
    content: "";
    background: transparent;
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
}

section.news .n-bl {
    width: 50%;
    margin-right: -5px;
    display: inline-block;
    vertical-align: middle;
    height: 475px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

section.news .n-bl .n-top1 {
    background-image: url("../img/news2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

section.news .n-bl .n-top1:after {
    content: "";
    background: transparent;
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
}

section.news .n-bl .n-top {
    height: 50%;
}

section.news .n-bl .n-top .left-bl {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    background-image: url("../img/news3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section.news .n-bl .n-top .left-bl:after {
    content: "";
    background: transparent;
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
}

section.news .n-bl .n-top .right-bl {
    height: 100%;
    margin-left: -4px;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    background-image: url("../img/news4.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

section.news .n-bl .n-top .right-bl:after {
    content: "";
    background: transparent;
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%);
}

section.news .text-block {
    position: absolute;
    bottom: 0;
    z-index: 1111;
    padding: 0 20px;
    width: 100%;
}

section.news .text-block h3 {
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

section.news .text-block h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

section.news .text-block h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px;
}

section.news .text-block p {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
}

section.table {
    background-image: url("../img/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

section.table h1 {
    color: #2f2483;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
}

section.table a.button-top {
    z-index: 10;
    position: relative;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 52px;
    width: 267px;
    height: 53px;
    text-align: center;
    margin: 40px auto 60px;
    display: block;
}

section.table a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

section.table table {
    width: 100%;
    border-bottom: 1px solid #9fa3aa;
    border-top: 1px solid #9fa3aa;
}

section.table table tr.tr-8 td:nth-child(6) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-8 td:nth-child(6):after {
    content: "Пт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-8 td:nth-child(3), section.table table tr.tr-8 td:nth-child(7) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-8 td:nth-child(3):after, section.table table tr.tr-8 td:nth-child(7):after {
    display: none;
}

section.table table tr.tr-7 td:nth-child(5) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-7 td:nth-child(5):after {
    content: "Чт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-7 td:nth-child(3) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-7 td:nth-child(3):after {
    content: "Вт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-7 td:nth-child(8) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-7 td:nth-child(8):after {
    content: "Вс";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-7 td:nth-child(2), section.table table tr.tr-7 td:nth-child(4), section.table table tr.tr-7 td:nth-child(6) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-7 td:nth-child(2):after, section.table table tr.tr-7 td:nth-child(4):after, section.table table tr.tr-7 td:nth-child(6):after {
    display: none;
}

section.table table tr.tr-6 td:nth-child(5) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-6 td:nth-child(5):after {
    content: "Чт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-6 td:nth-child(3), section.table table tr.tr-6 td:nth-child(6) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-6 td:nth-child(3):after, section.table table tr.tr-6 td:nth-child(6):after {
    display: none;
}

section.table table tr.tr-5 td:nth-child(8) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-5 td:nth-child(8):after {
    content: "Вс";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-5 td:nth-child(3) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-5 td:nth-child(3):after {
    content: "Вт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-5 td:nth-child(5) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-5 td:nth-child(5):after {
    content: "Чт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-5 td:nth-child(2), section.table table tr.tr-5 td:nth-child(4), section.table table tr.tr-5 td:nth-child(7) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-5 td:nth-child(2):after, section.table table tr.tr-5 td:nth-child(4):after, section.table table tr.tr-5 td:nth-child(7):after {
    display: none;
}

section.table table tr.tr-4 td:nth-child(6) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-4 td:nth-child(6):after {
    content: "Пт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-4 td:nth-child(3), section.table table tr.tr-4 td:nth-child(7) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-4 td:nth-child(3):after, section.table table tr.tr-4 td:nth-child(7):after {
    display: none;
}

section.table table tr.tr-3 td:nth-child(3) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-3 td:nth-child(3):after {
    content: "Вт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-3 td:nth-child(5) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-3 td:nth-child(5):after {
    content: "Чт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-3 td:nth-child(2), section.table table tr.tr-3 td:nth-child(6), section.table table tr.tr-3 td:nth-child(4) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-3 td:nth-child(2):after, section.table table tr.tr-3 td:nth-child(6):after, section.table table tr.tr-3 td:nth-child(4):after {
    display: none;
}

section.table table tr.tr-2 td:nth-child(6) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-2 td:nth-child(6):after {
    content: "Пт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-2 td:nth-child(5) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-2 td:nth-child(5):after {
    content: "Чт";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

section.table table tr.tr-2 td:nth-child(2), section.table table tr.tr-2 td:nth-child(7) {
    position: relative;
    padding-left: 20px;
}

section.table table tr.tr-2 td:nth-child(2):after, section.table table tr.tr-2 td:nth-child(7):after {
    display: none;
}

section.table table tr.tr-1, section.table table tr.tr-2 {
    height: 95px;
    border-bottom: 1px solid #9fa3aa;
    transition: 0.5s ease;
    color: #2d2c2c;
}

section.table table tr.tr-1:hover, section.table table tr.tr-2:hover {
    background-color: #FFF;
    color: #f32165 !important;
}

section.table table tr.tr-1:hover td:nth-child(2):after, section.table table tr.tr-1:hover td:nth-child(4):after, section.table table tr.tr-1:hover td:nth-child(7):after, section.table table tr.tr-1:hover td:nth-child(6):after, section.table table tr.tr-1:hover td:nth-child(5):after, section.table table tr.tr-1:hover td:nth-child(3):after, section.table table tr.tr-1:hover td:nth-child(8):after, section.table table tr.tr-2:hover td:nth-child(2):after, section.table table tr.tr-2:hover td:nth-child(4):after, section.table table tr.tr-2:hover td:nth-child(7):after, section.table table tr.tr-2:hover td:nth-child(6):after, section.table table tr.tr-2:hover td:nth-child(5):after, section.table table tr.tr-2:hover td:nth-child(3):after, section.table table tr.tr-2:hover td:nth-child(8):after {
    background-color: #f32165 !important;
}

section.table table tr.tr-1 td, section.table table tr.tr-2 td {
    width: 110px;
    height: 95px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

section.table table tr.tr-1 td:first-child, section.table table tr.tr-2 td:first-child {
    text-align: left;
    width: 260px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 20px;
}

section.table table tr.tr-1 td:nth-child(even), section.table table tr.tr-2 td:nth-child(even) {
    background-color: rgba(194, 194, 194, 0.14);
}

section.table table tr.tr-1 td:nth-child(2), section.table table tr.tr-2 td:nth-child(2) {
    position: relative;
    padding-left: 20px;
}

/*section.table table tr.tr-1 td:nth-child(2):after, section.table table tr.tr-2 td:nth-child(2):after {*/
    /*content: "Пн";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*background-color: #618ff6;*/
    /*border-radius: 0px 0px 5px;*/
    /*font-size: 14px;*/
    /*color: #fff;*/
/*}*/

/*section.table table tr.tr-1 td:nth-child(4), section.table table tr.tr-2 td:nth-child(4) {*/
    /*position: relative;*/
    /*padding-left: 20px;*/
/*}*/

/*section.table table tr.tr-1 td:nth-child(4):after, section.table table tr.tr-2 td:nth-child(4):after {*/
    /*content: "Ср";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*background-color: #618ff6;*/
    /*border-radius: 0px 0px 5px;*/
    /*font-size: 14px;*/
    /*color: #fff;*/
/*}*/

/*section.table table tr.tr-1 td:nth-child(7), section.table table tr.tr-2 td:nth-child(7) {*/
    /*position: relative;*/
    /*padding-left: 20px;*/
/*}*/

/*section.table table tr.tr-1 td:nth-child(7):after, section.table table tr.tr-2 td:nth-child(7):after {*/
    /*content: "Сб";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*background-color: #618ff6;*/
    /*border-radius: 0px 0px 5px;*/
    /*font-size: 14px;*/
    /*color: #fff;*/
/*}*/

section.table table tr td{
    position: relative;
}
table tr td.day {
    width: 110px;
}
table tr td.day:after {
    content: "Пн";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-color: #618ff6;
    border-radius: 0px 0px 5px;
    font-size: 14px;
    color: #fff;
}

table tr td.day1:after{
    content: "Пн";
}
table tr td.day2:after{
    content: "Вт";
}
table tr td.day3:after{
    content: "Ср";
}
table tr td.day4:after{
    content: "Чт";
}
table tr td.day5:after{
    content: "Пт";
}
table tr td.day6:after{
    content: "Сб";
}
table tr td.day7:after{
    content: "Вс";
}









section.our {
    background-color: #FFF;
    padding: 35px 0 65px;
}

section.our h1 {
    color: #2f2483;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-bottom: 100px;
}

section.our .img-sl {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

section.our .img-sl p.tit {
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
}

section.our .img-sl p.dt {
    text-align: center;
    margin-top: 0;
    font-weight: 400;
    line-height: 20px;
    color: #d0d5df;
    font-size: 14px;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}

footer .google-maps {
    position: relative;
    height: 100%;
    overflow: hidden;
}

footer .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .wrapper-contacts {
    margin-top: 70px;
    max-width: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px 20px 50px;
    margin-bottom: 95px;
    position: relative;
    z-index: 1;
}

footer .wrapper-contacts h1 {
    color: #2f2483;
    font-size: 3.125em;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
}

footer .wrapper-contacts p.phone-c {
    font-weight: 400;
    line-height: 32px;
    color: #f32165;
    font-size: 2.5em;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

footer .wrapper-contacts p.mails {
    font-weight: 300;
    line-height: 32px;
    color: #618ff6;
    font-weight: 400;
    font-size: 1.5625em;
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

footer .wrapper-contacts p.adress {
    color: #2d2c2c;
    font-size: 25px;
    font-weight: 400;
    padding-left: 50px;
}

footer .wrapper-contacts p.text {
    color: #2d2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 50px;
}

footer .wrapper-contacts a.button-top {
    z-index: 10;
    position: relative;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 52px;
    width: 267px;
    height: 53px;
    text-align: center;
    margin: 40px auto 0;
    display: block;
}

footer .wrapper-contacts a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

footer .wrapper-contacts p {
    padding-left: 50px;
}

footer .wrapper-contacts p:nth-child(5) {
    margin: 47px 0 42px;
}

footer .wrapper-contacts p a.vk {
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    height: 20px;
    vertical-align: middle;
}

footer .wrapper-contacts p a.vk:hover {
    background-image: url("../img/vk.png");
    background-position: 0 -21px;
}

footer .wrapper-contacts p a.facebook {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 15px;
    width: 16px;
    height: 30px;
    vertical-align: middle;
}

footer .wrapper-contacts p a.facebook:hover {
    background-image: url("../img/facebook.png");
    background-position: 0px -32px;
}

footer .wrapper-contacts p a.instagram {
    background-image: url("../img/inst.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

footer .wrapper-contacts p a.instagram:hover {
    background-image: url("../img/inst.png");
    background-position: 0 -32px;
}

footer .wrapper-bottom-line {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
}

footer .wrapper-bottom-line .school {
    margin: 20px 0;
}

footer .wrapper-bottom-line a {
    display: inline-block;
    vertical-align: middle;
    color: #618ff6;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

footer .wrapper-bottom-line p {
    float: right;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
    color: #2d2c2c;
}

section.table .wrapp-mobile-table {
    width: 100%;
}

section.table .wrapp-mobile-table .t1 {
    border-top: solid 1px #9fa3aa;
    box-shadow: 0 1px 0 #9fa3aa;
}

section.table .wrapp-mobile-table .t1 .raspisanie8act {
    text-align: center;
    color: #fff !important;
    background-color: #f32165 !important;
}

section.table .wrapp-mobile-table .t1 h2.raspisanie {
    height: 60px;
    padding-left: 20px;
    width: 100%;
    box-shadow: 0 1px 0 #9fa3aa;
    color: #2d2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    overflow: hidden;
}

section.table .wrapp-mobile-table .t1 .wrapp-week {
    display: none;
}

section.table .wrapp-mobile-table .t1 .active {
    display: block;
}

section.table .wrapp-mobile-table .t1 .active p.week {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 91px;
    padding: 0;
    margin: 0 -3px 0 0;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    text-align: center;
    padding-top: 20px;
}

section.table .wrapp-mobile-table .t1 .active p.week span {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    font-size: 14px;
    color: #fff;
    height: 28px;
    background-color: #f32165;
    border-radius: 0px 0px 5px;
}

section.table .wrapp-mobile-table .t1 .active p.week2 {
    background-color: #f7f5f5 !important;
}

section.table .wrapp-mobile-table .t1 .active p.week {
    background-color: #eeeceb;
}

section.table .wrapp-mobile-table .t1 .active p.phone {
    height: 90px;
    background-color: #f32165;
    width: 25%;
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/proper-fucking phone.png");
}

.left-menu {
    display: none;
}

.left-menu-active {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 16;
    overflow-y: scroll;
}

.left-menu-active ul {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #7b7b7b;
    margin: 30px 0 0 0;
}

.left-menu-active ul li {
    margin: 0;
    padding: 0;
}

.left-menu-active ul li a {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #7b7b7b;
    color: #7b7b7b;
    font-size: 18px;
    padding: 0 0px 0 20px;
    font-weight: 400;
    line-height: 58px;
}

.left-menu-active .phone {
    color: #618ff6;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 300;
    line-height: 32px;
    width: 155px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: middle;
}

.left-menu-active .social-wrapper {
    display: inline-block;
    margin-left: 44px;
    margin-top: 20px;
}

.left-menu-active .social-wrapper a.vk {
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    height: 20px;
    vertical-align: middle;
}

.left-menu-active .social-wrapper a.vk:hover {
    background-image: url("../img/vk.png");
    background-position: 0 -21px;
}

.left-menu-active .social-wrapper a.facebook {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 15px;
    width: 16px;
    height: 30px;
    vertical-align: middle;
}

.left-menu-active .social-wrapper a.facebook:hover {
    background-image: url("../img/facebook.png");
    background-position: 0 -32px;
}

.left-menu-active .social-wrapper a.instagram {
    background-image: url("../img/inst.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.left-menu-active .social-wrapper a.instagram:hover {
    background-image: url("../img/inst.png");
    background-position: 0 -32px;
}

.in-wrp-na-hoverr {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%) !important;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}

.n-bl1, .n-top1, .left-bl, .right-bl {
    position: relative;
    display: block;
}

.n-bl1:hover .in-wrp-na-hovers, .n-top1:hover .in-wrp-na-hovers, .left-bl:hover .in-wrp-na-hovers, .right-bl:hover .in-wrp-na-hovers {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%) !important;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}

.wrapper-z {
    max-width: 512px;
    text-align: center;
    height: 430px;
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}
.wrapper-z2{
    height: auto;
}

.wrapper-z p {
    color: #2d2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.wrapper-z input {
    width: 100%;
    border: 1px solid #d0d5df;
    border-radius: 5px;
    height: 53px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 20px;
}

.wrapper-z a.button-top {
    z-index: 10;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 52px;
    width: 267px;
    height: 53px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.wrapper-z a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

.mfp-close-btn-in .mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

footer iframe {
    position: absolute;
}

.scrolled {
    top: 0 !important;
    height: 90px;
    position: fixed !important;
}

.napravlenie-1 {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 228px;
    margin-right: -4px;
}

p.name-napravlenie {
    font-weight: 400;
    line-height: 15px;
    margin-top: 150px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: relative;
    z-index: 2;
	
	text-shadow: 1px 1px 3px black;
}

p.name-napravlenie-prepodovatel {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #d0d5df;
    position: relative;
    z-index: 2;
	text-shadow: 1px 1px 3px black;

}

/*.napravlenie8 {*/
/*background-image: url("../img/Layer-13.jpg") !important;*/
/*}*/

/*.napravlenie7 {*/
/*background-image: url("../img/Layer-12.jpg") !important;*/
/*}*/

/*.napravlenie6 {*/
/*background-image: url("../img/Layer-11.jpg") !important;*/
/*}*/

/*.napravlenie5 {*/
/*background-image: url("../img/Layer-10.jpg") !important;*/
/*}*/

/*.napravlenie4 {*/
/*background-image: url("../img/Layer-9.jpg") !important;*/
/*background-size: cover !important;*/
/*}*/

/*.napravlenie3 {*/
/*background-image: url("../img/Layer-8.jpg") !important;*/
/*}*/

.napravlenie {
    /*background-image: url("../img/Layer-6.jpg");*/
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: top;
    background-size: 100%;
    cursor: pointer;
    background-size: cover !important;
}


.napravlenie:hover:after {
    content: "";
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    background: url("../img/hover-bg.png");
    /*background-color: rgba(94,135,229,0.85)*/
    background-color: rgba(223, 34, 96, 0.85);
    width: 100%;
    height: 100%;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center -60px;
}



.blue .napravlenie:hover:after {
    /* Синий ховер */
    background-color: rgba(94,135,229,0.85)
}
.napravlenie:hover p.name-napravlenie {
    margin-top: 85px;
}

.block-description {
    background-color: #FFF;
    max-width: 100%;
    z-index: 3;
    margin-left: 50%;
    opacity: 1;
    display: inline-block;
    padding: 11px 10px 15px 20px;
    height: 228px;
}

.block-description p {
    color: #2d2c2c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 545px;
    overflow-y: scroll;
    max-height: 98px;
    min-height: 98px;
    padding-right: 25px;
}

.block-description p span.price_val {
    color: #618ff6;
    font-size: 25px;
    font-weight: 300;
}

.block-description p.price {
    display: inline-block;
    vertical-align: middle;
    margin-top: 45px;
    min-height: 27px;
    width: 160px;
    max-height: 27px;
    white-space: nowrap;
    overflow: hidden;
}

.block-description a.button-top {
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 46px;
    height: 48px;
    text-align: center;
    margin: 0 10px 10px 10px;
    float: right;
    padding: 0 15px;
}

.block-description a.button-top:hover {
    opacity: 0.85;
    text-decoration: none;
}

.dropdown-menu-right {
    right: -100% !important;
    left: auto;
    top: 0 !important;
}

.dropdown-menu-right1 {
    left: -100% !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: none !important;
    /* min-width: 160px  */
    padding: 20px !important;
    margin: 0px 0 0 !important;
    /* font-size: 14px*/
    /* text-align: left*/
    /* list-style: none*/
    /* background-color: #fff*/
    /*-webkit-background-clip: padding-box*/
    /* background-clip: padding-box*/
    border: 0px solid #ccc !important;
    /* border: 1px solid rgba(0,0,0,.15)*/
    border-radius: 4px !important;
    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)*/
    /* box-shadow: 0 6px 12px rgba(0,0,0,.175)*/
}

.dropdown {
    position: relative !important;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    height: 228px;
}

.open {
    position: relative;
}

.open:after {
    content: "";
    bottom: 0;
    position: absolute;
    color: #fff;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%) !important;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}
.open.blue:after {
    background-image: linear-gradient(to top, rgba(243, 33, 101, 0.94) 0%, rgba(97, 143, 246, 0.94) 0%, rgba(97, 143, 246, 0) 80%, rgba(97, 143, 246, 0) 100%)!important;

}


.open .napravlenie {
    position: static !important;
}

.open .napravlenie:hover:after {
    display: none;
}

.open .napravlenie:hover p.name-napravlenie {
    margin-top: 150px !important;
}

ul.train_list li {
    border: 1px solid #9fa3aa;
    border-top: none;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}
ul.train_list li:first-child {
    border-top: 1px solid #9fa3aa;
}
.train_text {
    display: none;
    background-color: transparent;
    font-size: 14px;
    padding: 15px;
}
.train_title {
    padding: 15px;
}
.train_text img{
    width: 30%;
    float: left;
    margin-right: 15px;
}
ul.train_list{
    padding: 0;
    display: none;
}
.train_selected .train_text {
    background: white;
}
.train_selected .train_title {
    background: #DF1F69;
    color: white;
}
#trainings {
    padding-bottom: 40px;
    margin-bottom: 0;
}
.phone:hover{
    text-decoration: none;
}
.item img{
}
#map{
    width: 100%;
    position: absolute !important;
    bottom: 0;

}
#boutique li:after {
    content: "";
    position: absolute;
    opacity: 1!important;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(35, 35, 35, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%);
}

.month_nav{

    text-align: center;
    font-size: 32px;
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.month_nav li {
    display: none;
    list-style: none;
}

.month_nav li.active {
    display: block;
}
ul.train_list.active{
    display: block;
}

#trainings .control .next, #trainings .control .prev{
    background: url("/assets/front/img/next.png") no-repeat;
    width: 17px;
    height: 30px;
    position: absolute;
    margin-top: -40px;
    right: 0;
    margin-right: -30px;
    cursor: pointer;
}

#trainings .control .prev{
    background: url("/assets/front/img/back.png") no-repeat;
    margin-left: -30px;
    left: 0;
}
#pedagogi  .next, #pedagogi  .prev{
	 
    background: url("/assets/front/img/next.png") no-repeat;
    width: 17px;
    height: 30px;
    position: absolute;
    margin-top: -40px;
    right: 0;
    margin-right: -30px;
    cursor: pointer;
}

#pedagogi  .prev{
    background: url("/assets/front/img/back.png") no-repeat;
    margin-left: -30px;
    left: 0;
}
#owl-demo-news2{
    display: none !important;
}
#owl-demo-news{
    display: block;
}

a.button-more {
    float: left;
    background-color: #f32165;
    background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 13px;
    margin-left: 0;
    margin-top: 0;
}
a.button-more:hover{
    color: white;
    opacity: 0.85;
    text-decoration: none;
}
p.title-dir {
    color: #618FF6;
    font-size: 25px;
    margin-top: 0;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.gmnoprint{
}
.close-dir {
    display: block;
    color: black;
    right: -7px;
    top: -11px;
    cursor: pointer;
}
.close-dir:active {
    top: -10px;
}
.moreSmall{
    display: none;
}

a.button-more.moreBig {
    margin-left: -80px;
    margin-top: 25px;
}
.moreWrap {
    display: inline-block;
    float: right;
    margin-top: 30px;
}
#boutique li{
    cursor: pointer;
}
.mobile_sched_text {
    display: none;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #618FF6;
    padding-bottom: 20px;
}
.li.popup_prep.frame5, li.popup_prep.frame1{display:none !important;}
.prep_nav{
	text-align: center;
	margin-top: 30px;
}
.prep_nav a{
	margin: 10px 20px;
}
.content{
	padding: 10px;
	
}
#owl-page-gallery img{height: 400px;}

.mobile_image{
	display: inline-block;
    width: 80px;
    overflow: hidden;
    height: 80px;
	vertical-align: top;
}

.mobile_news{
	clear: both;
	display: none;
}
.mobile_news_title{
	
	display: inline-block;
    width: 220px;
	
}
.mobile_news_row {
    height: 100px;
}