/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


	#owl-page-gallery img{height: 400px;}
	.after_curr{
		display: none;
	}
	.block-description p.price{
		width: 100px;
	}
	p.name-napravlenie {
		font-size: 20px;
		line-height: 19px;
	}
	section.navigation .container{
		transform: translate(10%,0%);
	}
	section.navigation .phone {
		font-size: 27px;
	}
	section.navigation .logos {
		width: 150px;
		background-size: 100%;
	}
	section.navigation ul li a{
		font-size: 15px;
	}
	section.navigation ul li{
		margin: 0 5px; 
	}
	section.navigation ul {
		list-style-type: none;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		padding: 0;
	}
}
@media only screen and (max-width : 992px) {
		section.navigation .container{
		transform: translate(0%,0%);
	}
	section.block2 .container{
		width: 100%;
	}
}
@media only screen and (max-width : 800px) {
	.dirImage img{
		max-width: 450px;
	}
	.button-more{
		display: none;
	}
	.moreSmall{
		display: block;
	}
}
@media only screen and (max-width : 768px) {
	
	#owl-page-gallery img{height: 300px;}
	.dropdown{
		width: 100%;
	}
	.dropdown-menu-right,.dropdown-menu-right1 {
		right: 0 !important;
		left: auto!important;
		top: 100% !important;
	}
	.after_curr{display: block;}
	.button-more{
		display: block;
	}
	.moreSmall{
		display: none;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 993px) {

	.after_curr{display: none;}
	section.navigation{
		display: none;
	}
	.menu-mini{
		width: 56px;
		height: 58px;
		position:fixed;
		background-image: url(../img/menu.png);
		display: inline-block;
		background-repeat: no-repeat;
		right: 0;
		top: 0;
		z-index: 999;
		cursor:pointer;
	}
	.menu-mini-wrap{
		width: 240px;
		background-color: #fff;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 750px) {
	.social-wrapper {
		margin-right: 80px;
	}
    #owl-demo-news2{
        display: block !important;
    }
    #owl-demo-news{
        display: none !important;
    }
    footer .wrapper-bottom-line .school {
        margin: 20px 0;
        width: 205px;
        padding-left: 15px;
    }
    footer .wrapper-bottom-line p {
        width: 205px;
        padding-right: 15px;
    }
    section.news .n-bl {
        width: 100%;
        margin-bottom: 20px;
    }
    section.news .n-bl-news{
        height: 302px;
    }
    section.news a.next{
        margin-right: 20px;
    }
    footer .wrapper-bottom-line {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 307px 0 0 0;
    }
}
@media only screen and (max-width : 480px) {
	
	.dirImage img{
		    max-width: 300px;
	}
	
	.block-header-center {
		bottom: 20%;
	}
	#owl-page-gallery img{height: 250px;}
	.mobile_sched_text{
		display: block;
	}

	.button-more{
		display: none;
	}
	.moreSmall{
		display: block;
	}
    .section h1{
        line-height: 50px;
    }
	.wrp-na-d-7 p, .wrp-na-d-8 p, .wrp-na-d-6 p, .wrp-na-d-5 p, .wrp-na-d-4 p, .wrp-na-d-3 p, .wrp-na-d-2 p, .wrp-na-d-1 p {
		max-height: 117px;
		min-height: 98px;
	}
	header.news-head {
		min-height: 433px;
	}
	section.news a.next, section.news .owl-prev, section.news .owl-next {
		margin-top: -10px !important;
	}
	.close-wd{
		/*display: none!important;*/
		/*height: 0!important;*/
	}
	section.news .text-block h5 {
		font-size: 14px;
		line-height: 21px;
	}

	header .logos {
		background-image: url("../img/logo2.png");
		background-repeat: no-repeat;
		vertical-align: middle;
		width: 170px;
		height: 58px;
		z-index: 9;
		position: relative;
		margin: 90px auto 0px;
	}

	#owl-demo .item img {
		height: 425px;
	}
	section.news {
		padding: 5px 0;
		background-color: #FFF;
		margin-top: -50px;
	}
	.social-wrapper{
		margin-right: 80px;
	}

	section.block2{
		padding: 0 0 70px;
	}
	section.block2 .in-wrp-na{
		width: 100%;
	}
	header {
		position: relative;
		overflow: hidden;
		background-image: url('../img/slide.jpg');
		padding-bottom: 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -76px;
	}
	header.mainhead{ 
		
		min-height: 500px;
	}
	#owl-demo{
		display: none!important;
	}
	section.table table{
		display: none;
	}
	section.table .wrapp-mobile-table table{
		display: block!important;
	}
	.mobile-non{
		display: none!important;
	}
	section.our .img-sl p.tit {
		font-size: 18px;
		margin-bottom: 7px;
		line-height: 22px;
	}
	header.news-head {
		position: relative;
		overflow: hidden;
		background-image: url('../img/slide.jpg');
		padding-bottom: 130px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -219px;
		margin-bottom: 40px;
	}
	.wrp-na-d p.price{
		margin-top: 20px;
	}
	.wrp-na-d a.button-top{
		margin-top: 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 414px) {
	
	.mobile_news{
		display: block;
	}
    #owl-demo-news2{
        display: none !important;
    }
    #owl-demo-news{
        display: none !important;
    }

    .section h1{
        line-height: 50px;
    }
	.block-description p span {
    font-size: 19px;
}
	header.news-head{
		margin-top: 0px;
	}
	header .descriptio-top p {
		color: #000;
		font-size: 15px;
		line-height: 10px;
	}
	section.news .n-bl1 {
		background-position: center;
	}
	section.table .wrapp-mobile-table .t1 h2.raspisanie{
		font-size: 14px;
	}
	section.table .wrapp-mobile-table .t1 .active p.week{
		padding-left: 20px;
	}
	section.our h1{
		font-size: 43px;
	}
	footer .wrapper-contacts{
		padding-left: 15px;
		padding-right: 15px;
	}
	footer .wrapper-contacts p.adress{
		font-size: 20px;
	}
	footer .wrapper-contacts p.text{
		font-size: 14px;
	}
	footer .wrapper-bottom-line a,footer .wrapper-bottom-line p{
		font-size: 14px;
	}
	footer .wrapper-bottom-line p{
		width: 150px;
		margin-top: 21px;
	}
	footer .wrapper-bottom-line .school{
		width: 170px;
	}
	header .logo{
		margin: 61px auto 0; 
	}
	.wrapper-z input{
		margin-bottom: 20px;
	}
	.wrapper-z a.button-top{
		width: 100%;
	}
	section.news a.next{
		font-size: 12px;
	}
	section.block2 .in-wrp-na .wrp-na p.title{
		width: 100%;
		margin: 87px auto 0;
		max-height: 100%;
		min-height: 20px;
	}
	.wrp-na-d-7 p, .wrp-na-d-8 p, .wrp-na-d-6 p, .wrp-na-d-5 p, .wrp-na-d-4 p, .wrp-na-d-3 p, .wrp-na-d-2 p, .wrp-na-d-1 p {
		max-height: 83px;
		overflow-y: scroll;
	}
	.wrp-na-d p.price {
		overflow: visible;
	}
	.wrapper-z input{
		margin-bottom: 20px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	#owl-page-gallery img{height: 200px;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) {
	/*.close-md{display: none;}*/
	footer .wrapper-bottom-line .school {
		margin: 20px 0 20px 15px;
	}
	/*.social-wrapper-news{*/
		/*display: none;*/
	/*}*/
	.wrapp-mobile-table{display: none;}
	/*.mobile-short{display: none!important;}*/
}

/* Small Devices, Tablets */
/*@media only screen and (min-width : 801px) {*/
	/*.left-menu{display: none;}*/
/*}*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.block-header-center{
		left: 0%;
	}
}