@import "bourbon/bourbon"
html
	overflow-x: hidden
body
	font-family: "Open Sans", sans-serif!important
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised
	overflow-x: hidden
.block-description
	p::-webkit-scrollbar 
		width: 1px
.block-description
	p::-webkit-scrollbar-track 
		-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0)
.block-description
	p::-webkit-scrollbar-thumb 
		background-color: #7b7b7b
		outline: 1px solid #7b7b7b

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green
.block-header-center
	position: absolute
	bottom: 35%
	margin: 0 auto
	width: 100%
header.mainhead
	background-image: url("../img/slide.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: top
	min-height: 780px
header
	position:relative
	overflow: hidden
	padding-bottom: 130px
	.social-wrapper
		z-index: 1
		position:relative
		float: right
		margin-top: 20px
		a.vk
			background-image: url("../img/vk.png")
			background-repeat: no-repeat
			display: inline-block
			vertical-align: middle
			width: 35px
			height: 20px
			&:hover
				background-image: url("../img/vk.png")
				background-position: 0 -21px
		a.facebook
			background-image: url("../img/facebook.png")
			background-repeat: no-repeat
			display: inline-block
			margin: 0 15px
			width: 16px
			height: 30px
			vertical-align: middle
			&:hover
				background-image: url("../img/facebook.png")
				background-position: 0 -32px
		a.instagram
			background-image: url("../img/inst.png")
			background-repeat: no-repeat
			display: inline-block
			width: 28px
			height: 28px
			vertical-align: middle
			&:hover
				background-image: url("../img/inst.png")
				background-position: 0 -32px
	.logo
		background-image: url("../img/logo.png")
		background-repeat: no-repeat
		width: 262px
		background-size: contain
		background-position: center
		margin: 175px auto 70px
		height: 262px
		display: block
		z-index: 10
		position:relative
	.descriptio-top
		text-align: center
		z-index: 10
		position:relative
		margin-bottom: 50px
		p
			color: #2d2c2c
			font-size: 18px
			font-weight: 400
			line-height: 10px
	a.button-top
		z-index: 10
		position:relative
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 18px
		font-weight: 300
		line-height: 52px
		width: 267px
		height: 53px
		text-align: center
		margin: 0 auto
		display: block
		&:hover
			opacity: 0.85
			text-decoration: none
#owl-demo 
	position: absolute
	z-index: 1
	.item 
		img
			display: block
			width: 100%
section.navigationmain
	position: absolute
	bottom: 0
	width: 100%
	background-color: #FFF!important
	padding: 14px 0!important
section.navigation
	z-index: 12
	width: 100%
	background-color: #FFF
	padding: 20px 0
	.logos
		background-image: url("../img/logo2.png")
		background-repeat: no-repeat
		display: inline-block
		vertical-align: middle
		width: 170px
		height: 58px
	ul
		list-style-type: none
		display: inline-block
		margin-left: 100px
		margin-right: 100px
		li
			display: inline
			margin: 0 10px
			a
				font-size: 18px
				font-weight: 400
				line-height: 32px
				color: #7b7b7b
				&:hover
					color: #f32165
	.phone
		color: #618ff6
		font-family: "Open Sans"
		font-size: 40px
		font-weight: 300
		line-height: 32px
		display: inline-block
		vertical-align: middle
		text-align: right
section.block2
	background-image: url("../img/bg2.jpg")
	background-repeat: no-repeat
	padding: 50px 0 70px
	background-position: bottom
	background-size: cover
	width: 100%
	h1
		color: #2f2483
		font-size: em(50px)
		font-weight: 300
		line-height: 32px
		text-align: center
		margin-bottom: 45px
	.in-wrp-na
		width: 50%
		position: relative
		display: inline-block
		height: 236px
		margin-right: -3px
		margin-bottom: -6px
		overflow: hidden
		cursor:pointer
		background-color: #d7d7d7
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
		.wrp-na
			background-image: url("../img/Layer-6.jpg")
			background-repeat: no-repeat
			background-size: 626px
			background-position: -7px -25px
			overflow: hidden
			width: 100%
			height: 100%
			p.title
				font-weight: 400
				line-height: 32px
				color: #fff
				font-size: 25px
				text-align: center
				width: 100%
				margin: 110px auto 0
				max-height: 85px
				min-height: 85px
				position:relative
				z-index: 1
			p.descr
				font-weight: 400
				line-height: 10px
				color: #d0d5df
				font-size: 14px
				text-align: center
				position:relative
				z-index: 1
		.wrp-na-8
			background-image: url("../img/Layer-13.jpg")
			background-position: -8px -44px
			z-index: 1
		.wrp-na-7
			background-image: url("../img/Layer-12.jpg")
			background-position: -7px -44px
			z-index: 1
		.wrp-na-6
			background-image: url("../img/Layer-11.jpg")
			background-position: -7px -81px
		.wrp-na-5
			background-image: url("../img/Layer-10.jpg")
			background-position: -7px -44px
		.wrp-na-4
			background-image: url("../img/Layer-9.jpg")
			background-position: -7px -65px
		.wrp-na-3
			background-image: url("../img/Layer-12.jpg")
			background-position: -7px -40px
			background-repeat: no-repeat
		.wrp-na-d-on-1	
			background: url("../img/hover-bg.png") #df2160
			background-size: 100%
			background-repeat: no-repeat
			background-position: 0px -50px
			overflow: hidden
			opacity: 0.85
			p.title
				font-weight: 400
				line-height: 32px
				color: #fff
				font-size: 25px
				text-align: center
				width: 100%
				margin: 70px auto 0
				max-height: 85px
				min-height: 85px
.wrp-na-d-7,
.wrp-na-d-8,
.wrp-na-d-6,
.wrp-na-d-5,
.wrp-na-d-4,
.wrp-na-d-3,
.wrp-na-d-2,
.wrp-na-d-1
	background-color: #FFF
	left: 0
	top: 0
	height: 100%
	z-index: 1
	opacity:1
	padding: 11px 10px 15px 20px
	display: none
	position:absolute
	p
		color: #2d2c2c
		font-size: 14px
		font-weight: 400
		line-height: 20px
		height: 545px
		overflow-y: scroll
		max-height: 98px
		min-height: 98px
		padding-right: 25px
		span
			color: #618ff6
			font-size: 25px
			font-weight: 300
	p.price
		display: inline-block
		vertical-align: middle
		margin-top: 45px
		min-height: 27px
		width: 50%
		max-height: 27px
		white-space: nowrap
		overflow: hidden
	a.button-top
		z-index: 10
		display: inline-block
		vertical-align: middle
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 16px
		font-weight: 300
		line-height: 46px
		width: 40%
		height: 48px
		text-align: center
		margin: 25px 10px 10px 0
		float: right
		&:hover
			opacity: 0.85
			text-decoration: none
.in-wrp-na-hover
	display: block
	background-color: #d7d7d7
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)
	background: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)
section.news
	padding: 40px 0 23px
	background-color: #FFF
	h1
		text-align: center
		color: #2f2483
		font-size: em(50px)
		font-weight: 300
		line-height: 32px
		margin-bottom: 50px
	.owl-buttons
		float: right
	.owl-prev
		float: none
	.owl-next
		float: right
	a.next,.owl-prev,.owl-next
		font-size: 18px!important
		font-weight: 400
		line-height: 32px
		color: #7b7b7b!important
		margin-left: 20px!important
		margin-top: 1px!important
		background: none!important
		opacity: 1!important
		&:hover
			color: #f32165!important
	span.date
		width: 66px
		height: 66px
		background-color: #618ff6
		border-radius: 0px 0px 5px
		display: inline-block
		color: #fff
		text-transform: uppercase
		font-weight: 400
		line-height: 20px
		padding-top: 12px
		font-size: 25px
		text-align: center
		span
			font-size: 14px
	.n-bl1
		background-image: url("../img/news1.jpg")
		background-repeat: no-repeat
		background-size: cover
		&:after
			content:""
			background: transparent
			position:absolute
			bottom: 0
			display: block
			left: 0
			height: 100%
			width: 100%
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
	.n-bl
		width: 50%
		margin-right: -5px
		display: inline-block
		vertical-align: middle
		height: 475px
		overflow: hidden
		position:relative
		cursor:pointer
		.n-top1
			background-image: url("../img/news2.jpg")
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			position:relative
			&:after
				content:""
				background: transparent
				position:absolute
				bottom: 0
				display: block
				left: 0
				height: 100%
				width: 100%
				background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
				background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
		.n-top
			height: 50%
			.left-bl
				display: inline-block
				vertical-align: middle
				width: 50%
				height: 100%
				background-image: url("../img/news3.jpg")
				background-repeat: no-repeat
				background-size: cover
				position:relative
				&:after
					content:""
					background: transparent
					position:absolute
					bottom: 0
					display: block
					left: 0
					height: 100%
					width: 100%
					background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
					background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
					background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
			.right-bl
				height: 100%
				margin-left: -4px
				display: inline-block
				vertical-align: middle
				width: 50%
				background-image: url("../img/news4.jpg")
				background-size: cover
				background-position: center
				position: relative
				&:after
					content:""
					background: transparent
					position:absolute
					bottom: 0
					display: block
					left: 0
					height: 100%
					width: 100%
					background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
					background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
					background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(17, 15, 30, 0.94) 0%, rgba(17, 15, 30, 0) 80%, rgba(17, 15, 30, 0) 100%)
	.text-block
			position: absolute
			bottom: 0
			z-index: 1111
			padding: 0 20px
			width: 100%
			h3
				font-weight: 400
				color: #fff
				text-align: center
				font-size: 25px
				line-height: 32px
				text-align: center
				margin-bottom: 20px
			h4
				color: #fff
				font-size: 25px
				font-weight: 400
				line-height: 32px
				text-align: center
				margin-bottom: 20px
			h5
				color: #fff
				font-size: 18px
				font-weight: 600
				line-height: 28px
				text-align: center
				margin-bottom: 20px
			p
				color: #fff
				font-size: 14px
				line-height: 32px
section.table
	background-image: url("../img/table.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: bottom
	h1
		color: #2f2483
		font-size: 50px
		font-weight: 300
		line-height: 32px
		text-align: center
		margin-bottom: 50px
	a.button-top
		z-index: 10
		position:relative
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 18px
		font-weight: 300
		line-height: 52px
		width: 267px
		height: 53px
		text-align: center
		margin: 40px auto 60px
		display: block
		&:hover
			opacity: 0.85
			text-decoration: none
	table
		width: 100%
		border-bottom: 1px solid #9fa3aa
		border-top: 1px solid #9fa3aa
		tr.tr-8
			td
				&:nth-child(6)
					position:relative
					padding-left: 20px
					&:after
						content:"Пт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(3),&:nth-child(7)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-7
			td
				&:nth-child(5)
					position:relative
					padding-left: 20px
					&:after
						content:"Чт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(3)
					position:relative
					padding-left: 20px
					&:after
						content:"Вт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(8)
					position:relative
					padding-left: 20px
					&:after
						content:"Вс"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(2),&:nth-child(4),&:nth-child(6)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-6
			td
				&:nth-child(5)
					position:relative
					padding-left: 20px
					&:after
						content:"Чт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(3),&:nth-child(6)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-5
			td
				&:nth-child(8)
					position:relative
					padding-left: 20px
					&:after
						content:"Вс"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(3)
					position:relative
					padding-left: 20px
					&:after
						content:"Вт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(5)
					position:relative
					padding-left: 20px
					&:after
						content:"Чт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(2),&:nth-child(4),&:nth-child(7)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-4
			td
				&:nth-child(6)
					position:relative
					padding-left: 20px
					&:after
						content:"Пт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(3),&:nth-child(7)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-3
			td
				&:nth-child(3)
					position:relative
					padding-left: 20px
					&:after
						content:"Вт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
			td
				&:nth-child(5)
					position:relative
					padding-left: 20px
					&:after
						content:"Чт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(2),&:nth-child(6),&:nth-child(4)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-2
			td
				&:nth-child(6)
					position:relative
					padding-left: 20px
					&:after
						content:"Пт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
			td
				&:nth-child(5)
					position:relative
					padding-left: 20px
					&:after
						content:"Чт"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(2),&:nth-child(7)
					position:relative
					padding-left: 20px
					&:after
						display: none
		tr.tr-1,tr.tr-2
			height: 95px
			border-bottom: 1px solid #9fa3aa 
			transition: 0.5s ease
			color: #2d2c2c
			&:hover
				background-color: #FFF
				color: #f32165!important
				td
					&:nth-child(2),&:nth-child(4),&:nth-child(7),&:nth-child(6),&:nth-child(5),&:nth-child(3),&:nth-child(8)
						&:after
							background-color: #f32165!important
			td
				width: 110px
				height: 95px
				text-align: center
				font-size: 16px
				font-weight: 400
				line-height: 30px
				&:first-child
					text-align: left
					width: 260px
					font-size: 18px
					font-weight: 400
					line-height: 32px
					padding-left: 20px
				&:nth-child(even)
					background-color: rgba(194,194,194,0.14)
				&:nth-child(2)
					position:relative
					padding-left: 20px
					&:after
						content:"Пн"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(4)
					position:relative
					padding-left: 20px
					&:after
						content:"Ср"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
				&:nth-child(7)
					position:relative
					padding-left: 20px
					&:after
						content:"Сб"
						position: absolute
						top: 0
						left: 0
						width: 28px
						height: 28px
						background-color: #618ff6
						border-radius: 0px 0px 5px
						font-size: 14px
						color: #fff
section.our
	background-color: #FFF
	padding: 35px 0 65px
	h1
		color: #2f2483
		font-size: 50px
		font-weight: 300
		line-height: 32px
		text-align: center
		margin-bottom: 100px
	.img-sl
		position: absolute
		bottom: 20px
		width: 100%
		p.tit
			text-align: center
			font-weight: 400
			line-height: 10px
			color: #fff
			font-size: 25px
			margin-bottom: 25px
			position:relative
			z-index: 2
		p.dt
			text-align: center
			margin-top: 0
			font-weight: 400
			line-height: 10px
			color: #d0d5df
			font-size: 14px
			position:relative
			z-index: 2
footer
	.google-maps
			position: relative
			height: 100%
			overflow: hidden
			iframe 
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
	.wrapper-contacts
		margin-top: 70px
		max-width: 510px
		background-color: rgba(255, 255, 255, 0.8)
		border-radius: 5px
		padding: 10px 20px 50px
		margin-bottom: 95px
		position:relative
		z-index: 1
		h1
			color: #2f2483
			font-size: em(50px)
			font-weight: 300
			line-height: 32px
			text-align: center
		p.phone-c
			font-weight: 400
			line-height: 32px
			color: #f32165
			font-size: em(40px)
			background-image: url("../img/phone.png")
			background-repeat: no-repeat
			background-position: left center
			padding-left: 50px
		p.mails
			font-weight: 300
			line-height: 32px
			color: #618ff6
			font-weight: 400
			font-size: em(25px)
			background-image: url("../img/email.png")
			background-repeat: no-repeat
			background-position: left center
			padding-left: 50px
		p.adress
			color: #2d2c2c
			font-size: 25px
			font-weight: 400
			padding-left: 50px
		p.text
			color: #2d2c2c
			font-size: 18px
			font-weight: 400
			line-height: 32px
			padding-left: 50px
		a.button-top
			z-index: 10
			position:relative
			background-color: #f32165
			background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
			border-radius: 5px
			color: #fff
			font-size: 18px
			font-weight: 300
			line-height: 52px
			width: 267px
			height: 53px
			text-align: center
			margin: 40px auto 0
			display: block
			&:hover
				opacity: 0.85
				text-decoration: none
		p
			padding-left: 50px
			&:nth-child(5)
				margin: 47px 0 42px
			a.vk
				background-image: url("../img/vk.png")
				background-repeat: no-repeat
				display: inline-block
				width: 35px
				height: 20px
				vertical-align: middle
				&:hover
					background-image: url("../img/vk.png")
					background-position: 0 -21px
			a.facebook
				background-image: url("../img/facebook.png")
				background-repeat: no-repeat
				display: inline-block
				margin: 0 15px
				width: 16px
				height: 30px
				vertical-align: middle
				&:hover
					background-image: url("../img/facebook.png")
					background-position: 0px -32px
			a.instagram
				background-image: url("../img/inst.png")
				background-repeat: no-repeat
				display: inline-block
				width: 28px
				height: 28px
				vertical-align: middle
				&:hover
					background-image: url("../img/inst.png")
					background-position: 0 -32px
	.wrapper-bottom-line
		background-color: rgba(255, 255, 255, 0.8)
		position: relative
		z-index: 1
		.school
			margin: 20px 0
		a
			display: inline-block
			vertical-align: middle
			color: #618ff6
			font-size: 18px
			font-weight: 400
			line-height: 32px
		p
			float: right
			vertical-align: middle
			display: inline-block
			text-align: right
			font-size: 18px
			font-weight: 400
			line-height: 32px
			margin-top: 20px
			color: #2d2c2c
section.table		
	.wrapp-mobile-table 
		width: 100%
		.t1
			border-top: solid 1px #9fa3aa
			box-shadow: 0 1px 0 #9fa3aa
			.raspisanie8act
				text-align: center
				color: #fff!important
				background-color: #f32165!important
			h2.raspisanie
				height: 60px
				padding-left: 20px
				width: 100%
				box-shadow: 0 1px 0 #9fa3aa
				color: #2d2c2c
				font-size: 18px
				font-weight: 400
				line-height: 60px
				margin: 0
			.wrapp-week
				display: none
			.active
				display: block
				p.week
					display: inline-block
					vertical-align: middle
					width: 25%
					height: 91px
					padding: 0
					margin: 0 -3px 0 0
					color: #7b7b7b
					font-size: 16px
					font-weight: 400
					line-height: 30px
					position:relative
					text-align: center
					padding-top: 20px
					span
						position: absolute
						left: 0
						top: 0
						width: 28px
						font-size: 14px
						color: #fff
						height: 28px
						background-color: #f32165
						border-radius: 0px 0px 5px
				p.week2
					background-color: #f7f5f5!important
				p.week
					background-color: #eeeceb
				p.phone
					height: 90px
					background-color: #f32165
					width: 25%
					margin: 0 -3px 0 0
					padding: 0
					display: inline-block
					vertical-align: middle
					background-position: center
					background-repeat: no-repeat
					background-image: url("../img/proper-fucking phone.png")
.left-menu
	display: none
.left-menu-active
	display: block
	position:fixed
	right: 0
	top: 0
	height: 100%
	width: 240px
	background-color: #fff
	z-index:16
	ul
		list-style-type: none
		display: inline-block
		width: 100%
		padding: 0
		border-bottom: 1px solid #7b7b7b
		margin: 30px 0 0 0
		li
			margin: 0
			padding: 0
			a
				display: inline-block
				width: 100%
				border-top: 1px solid #7b7b7b
				color: #7b7b7b
				font-size: 18px
				padding: 0 0px 0 20px
				font-weight: 400
				line-height: 58px
	.phone
		color: #618ff6
		font-family: "Open Sans"
		font-size: 40px
		font-weight: 300
		line-height: 32px
		width: 155px
		margin-top: 40px
		display: inline-block
		vertical-align: middle
	.social-wrapper
		display: inline-block
		margin-left: 44px
		margin-top: 20px
		a.vk
			background-image: url("../img/vk.png")
			background-repeat: no-repeat
			display: inline-block
			width: 35px
			height: 20px
			vertical-align: middle
			&:hover
				background-image: url("../img/vk.png")
				background-position: 0 -21px
		a.facebook
			background-image: url("../img/facebook.png")
			background-repeat: no-repeat
			display: inline-block
			margin: 0 15px
			width: 16px
			height: 30px
			vertical-align: middle
			&:hover
				background-image: url("../img/facebook.png")
				background-position: 0 -32px
		a.instagram
			background-image: url("../img/inst.png")
			background-repeat: no-repeat
			display: inline-block
			width: 28px
			height: 28px
			vertical-align: middle
			&:hover
				background-image: url("../img/inst.png")
				background-position: 0 -32px
.in-wrp-na-hoverr
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)!important
	position:absolute
	bottom: 0
	left: 0
	height: 100%
	width: 100%
	opacity: 0.85
.n-bl1,.n-top1,.left-bl,.right-bl
	position:relative
	&:hover
		.in-wrp-na-hovers
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)!important
			position:absolute
			bottom: 0
			left: 0
			height: 100%
			width: 100%
			opacity: 0.85
.wrapper-z
	max-width: 512px
	text-align: center
	height: 430px
	position:relative
	padding: 30px
	background-color: #fff
	border-radius: 5px
	margin: 0 auto
	p
		color: #2d2c2c
		font-size: 18px
		font-weight: 400
		line-height: 32px
		margin-bottom: 40px
	input
		width: 100%
		border: 1px solid #d0d5df
		border-radius: 5px
		height: 53px
		margin-bottom: 30px
		text-align: center
		padding:0 20px
	a.button-top 
		z-index: 10
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 18px
		font-weight: 300
		line-height: 52px
		width: 267px
		height: 53px
		text-align: center
		margin: 0 auto
		display: block
		&:hover
			opacity: 0.85
			text-decoration: none
.mfp-close-btn-in 
	.mfp-close
		position: absolute
		top: 0
		right: 0
		font-size: 30px
footer
	iframe
		position: absolute
.scrolled
	top: 0!important
	height: 90px
	position: fixed!important
.napravlenie-1
	position:relative
	width: 100%
	display: inline-block
	vertical-align: middle
	height: 228px
	margin-right: -4px
p.name-napravlenie
	font-weight: 400
	line-height: 15px
	margin-top: 150px
	color: #fff
	font-size: 25px
	text-align: center
	position:relative
	z-index: 2
p.name-napravlenie-prepodovatel
	text-align: center
	font-size: 14px
	font-weight: 400
	color: #d0d5df
	position:relative
	z-index: 2
.napravlenie8
	background-image: url("../img/Layer-13.jpg")!important
.napravlenie7
	background-image: url("../img/Layer-12.jpg")!important
.napravlenie6
	background-image: url("../img/Layer-11.jpg")!important
.napravlenie5
	background-image: url("../img/Layer-10.jpg")!important
.napravlenie4
	background-image: url("../img/Layer-9.jpg")!important
	background-size: cover!important
.napravlenie3
	background-image: url("../img/Layer-8.jpg")!important
.napravlenie
	background-image: url("../img/Layer-6.jpg")
	background-repeat: no-repeat
	display: inline-block
	vertical-align: middle
	background-position: bottom
	width: 100%
	height: 100%
	position:relative
	background-position: top
	background-size: 100%
	cursor:pointer
	background-size: cover!important
	&:hover
		&:after
			content: ""
			position: absolute
			overflow: hidden
			bottom: 0
			left: 0
			background: url("../img/hover-bg.png") 
			/*background-color: rgba(94,135,229,0.85)*/
			background-color: rgba(223,34,96,0.85)
			width: 100%
			height: 100%
			background-size: 125%
			background-repeat: no-repeat
			background-position: center -60px
		/* Синий ховер */
		p.name-napravlenie
			margin-top: 85px
.block-description
	background-color: #FFF
	max-width: 100%
	z-index: 3
	margin-left: 50%
	opacity:1
	display: inline-block
	padding: 11px 10px 15px 20px
	height: 228px
	p
		color: #2d2c2c
		font-size: 14px
		font-weight: 400
		line-height: 20px
		height: 545px
		overflow-y: scroll
		max-height: 98px
		min-height: 98px
		padding-right: 25px
		span
			color: #618ff6
			font-size: 25px
			font-weight: 300
	p.price
		display: inline-block
		vertical-align: middle
		margin-top: 45px
		min-height: 27px
		width: 50%
		max-height: 27px
		white-space: nowrap
		overflow: hidden
	a.button-top
		z-index: 10
		display: inline-block
		vertical-align: middle
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 16px
		font-weight: 300
		line-height: 46px
		width: 40%
		height: 48px
		text-align: center
		margin: 25px 10px 10px 0
		float: right
		&:hover
			opacity: 0.85
			text-decoration: none
.dropdown-menu-right 
	right: -100%!important
	left: auto
	top: 0!important
.dropdown-menu-right1
	left: -100%!important
.dropdown-menu 
    position: absolute
    top: 100%
    left: 0
    z-index: 1000
    display: none
    float: none!important
    /* min-width: 160px  */
    padding: 20px!important
    margin:0px 0 0!important
    /* font-size: 14px*/
    /* text-align: left*/
    /* list-style: none*/
    /* background-color: #fff*/
    /*-webkit-background-clip: padding-box*/
    /* background-clip: padding-box*/
    border: 0px solid #ccc!important
    /* border: 1px solid rgba(0,0,0,.15)*/
    border-radius: 4px!important
    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)*/
    /* box-shadow: 0 6px 12px rgba(0,0,0,.175)*/
.dropdown
	position:relative!important
	width: 50%
	display: inline-block
	vertical-align: middle
	margin-right: -4px
	height: 228px
.open
	position:relative
	&:after
		content: ""
		bottom: 0
		position:absolute
		color: #fff
		left: 0
		/*background-image: linear-gradient(to top, rgba(243, 33, 101, 0.94) 0%, rgba(97, 143, 246, 0.94) 0%, rgba(97, 143, 246, 0) 80%, rgba(97, 143, 246, 0) 100%)!important*/
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(243, 33, 101, 0.94) 0%, rgba(243, 33, 101, 0) 80%, rgba(243, 33, 101, 0) 100%)!important
		height: 100%
		width: 100%
		opacity: 0.85
	.napravlenie
		position: static!important
		&:hover
			&:after
				display: none
			p.name-napravlenie
				margin-top: 150px!important