@import "bourbon/bourbon"
header.news-head
	background-image: url("../img/slide.jpg")
	background-repeat: no-repeat
	background-size: cover
	height: 290px
	margin-top: 90px	
section.navigation
	padding: 10px 0
	position: fixed
	a.button-top
		margin-top: 55px
.descriptio-top
	margin-top: 70px
	margin-bottom: 57px!important
section.news 
	.n-bl1
		&:after
			background-image: none
	.n-bl-news
		padding: 0 20px
		p.title-news
			color: #618FF6
			font-size: 25px
			margin-top: 0
			font-weight: 400
			line-height: 32px
			text-align: left
.wrapper-z
	max-width: 512px
	text-align: center
	height: 430px
	position:relative
	padding: 30px
	background-color: #fff
	border-radius: 5px
	margin: 0 auto
	p
		color: #2d2c2c
		font-size: 18px
		font-weight: 400
		line-height: 32px
		margin-bottom: 40px
	input
		width: 100%
		border: 1px solid #d0d5df
		border-radius: 5px
		height: 53px
		margin-bottom: 30px
		text-align: center
		padding:0 20px
	a.button-top 
		z-index: 10
		background-color: #f32165
		background-image: linear-gradient(225deg, #dd1e66 0%, #eb2579 100%)
		border-radius: 5px
		color: #fff
		font-size: 18px
		font-weight: 300
		line-height: 52px
		width: 267px
		height: 53px
		text-align: center
		margin: 0 auto
		display: block
		&:hover
			opacity: 0.85
.mfp-close-btn-in 
	.mfp-close
		position: absolute
		top: 0
		right: 0
		font-size: 30px